#!/bin/sh
echo                                                             
echo "---------------------------------------------------------------"
echo "             This system is managed by Ansible                 "
echo "---------------------------------------------------------------"
echo
cat /etc/default/motd-ascii_art